@import url("photographer.css");

$main-color: #901C1C;
$second-color: #D3573C;

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: main-color;
    margin-right: 100px;
}

h2 {
    color: #D3573C;
    font-size: 36px;
    font-family: DM Sans;
    margin: 5px;
}

p {
    margin: 2px;
    font-size: 10px;
}

a {
    text-decoration: none;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0 100px 0;
}

a .photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    font-family: DM Sans;
    margin: 5px;
}

.location {
    color: #901C1C;
    font-weight: bold;
    font-size: 13px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.price {
    color: #757575;
    font-size: 9px;
}
